// Place all the styles related to the shares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.song-card{
  padding: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  // box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2), 1px 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.album-img {
  height: 60px;
  padding:10px;
  background-repeat: no-repeat;
  width: 60px;
  display: flex;

}
.play-button {
  width: 100%;
  border-radius: 50%;
  background: rgba(0,0,0,0.5);
  display:flex;
  justify-content: center;
  align-items: center;
}
.play-button:hover> i {
  color:#F44336;
}
.dashboard-play{
    background: rgba(0,0,0,0.8);
}
.dashboard-play > i{
    color:#F44336 !important;
}
.play-button > i {
    max-width: 50%;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.song-artist > p {
  margin-left: 10px;
}
.dashboard-artist > p {
  margin-left: 10px;
  margin-top: 20px;
}
.share-div {
  display: flex;
  justify-content: center;
  padding: 10px;
}
